name: Deploy Infrastructure

on:
  push:
    branches: [main]

permissions:
  id-token: write
  contents: read

jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::{{ secrets.ACCOUNT_ID}}:role/github-terraform
          aws-region: us-east-1
      
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      
      - name: Terraform Init & Apply
        working-directory: ./terraform
        run: |
          terraform init
          terraform plan
          terraform apply -auto-approve
      
    #   - name: Get outputs
    #     id: tf-outputs
    #     working-directory: ./terraform
    #     run: |
    #       echo "ec2_ip=$(terraform output -raw ec2_public_ip)" >> $GITHUB_OUTPUT
    
    # outputs:
    #   ec2_ip: ${{ steps.tf-outputs.outputs.ec2_ip }}