name: Deploy Infrastructure

# on:
#   push:
#     branches: [main]

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  terraform:
    runs-on: ubuntu-latest
    env:
      TF_VAR_database_username: ${{ secrets.DATABASE_USERNAME }}
      TF_VAR_database_password: ${{ secrets.DATABASE_PASSWORD }}
      TF_VAR_s3_terraform_state_bucket: ${{ secrets.S3_TERRAFORM_STATE_BUCKET }}
      TF_VAR_dynamodb_terraform_lock_table: ${{ secrets.DYNAMODB_TERRAFORM_LOCK_TABLE }}
    steps:
      - uses: actions/checkout@v3

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ secrets.ACCOUNT_ID}}:role/comp-digital-role
          aws-region: ${{ secrets.AWS_REGION }}
      
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      
      - name: Terraform Init & Apply
        working-directory: ./terraform
        run: |
          terraform init
          terraform plan
          terraform apply -auto-approve